.logo {
  width: 150px;
  margin: 10px;
  margin: 20px;
}
.top-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-control {
  height: 44px;
  width: 300px;
  background: #212121;
  border: 1px solid #716e6e;
  color: #fff;
  font-size: 15px;
}

.form {
  width: 50%;
  margin: 20px auto;
}

.btn {
  height: 44px;
  border-radius: 0;
  width: 55px;
  background: #dc4666;
  border: #dc4666;
}
