<div>
<div [style.background-image]="
    'linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,0.85)), url(' +
    'https://image.tmdb.org/t/p/w1280' +
    item.backdrop_path +
    ')'
  "
>
  <div class="hero">
    <img src="https://image.tmdb.org/t/p/w400/{{ item?.poster_path }}" alt="" />
    <div class="info">
      <h1>{{ item.title }} ( {{ item.release_date | date: "yyyy" }} )</h1>
      <p>{{ item?.overview }}</p>
      <div >
        <circle-progress [percent]="item.vote_average * 10"></circle-progress>
      </div>
      <iframe
        [src]="video"
        width="420"
        height="315"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="actorsName">
    <div *ngFor="let actor of cast">
      <img
        class="name"
        *ngIf="actor.profile_path"
        src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{
          actor.profile_path
        }} "
        alt=""
      />
      <img class="name" *ngIf="!actor.profile_path" src="assets/person.png" />
      <p>{{ actor.name }}</p>
    </div>
  </div>

  <div class="backBtn">
    <button class="btn btn-outline-danger" (click)="back()">Back</button>
  </div>
  <!-- <div class="card" *ngFor="let item of similarMovies.slice(0, 10)"> -->
  </div>
  <div class="similar">
    <h3>Similar movies</h3>


        <div class="displayMovie">
      <div
        class="card"
        *ngFor="
        let item of similarMovies.slice(0, 10)  ">
        <div routerLink="/similar" (click)="showDetails(item)">
          <div class="circle">
            <circle-progress
              [percent]="item.vote_average * 10"
            ></circle-progress>
          </div>

          <img
            class="movieImage"
            *ngIf="item.poster_path"
            src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{
              item.poster_path
            }} "
            alt=""
          />
          <img
            class="movieImage noImage"
            *ngIf="!item.poster_path"
            src="assets/default.jfif"
          />
          <p class="title">{{ item.title }}</p>
          <p>{{ item.release_date | date: "mediumDate" }}</p>
        </div>
      </div>
    </div>


  </div>
</div>
