<div class="footer">
  <div class="py-4 my-4 border-top text-center">
    <p>&copy; {{ currentYear }} designed by Mindaugas. Data by <a target="_blank" href="https://www.themoviedb.org/">TMDB</a></p>
    <ul class="list-unstyled d-flex justify-content-center">
      <li class="ms-3">
        <a href="https://twitter.com/"><img src="assets/twitter.svg" /> </a>
      </li>
      <li class="ms-3">
        <a href="https://www.instagram.com/"
          ><img src="assets/instagram.svg"
        /></a>
      </li>
      <li class="ms-3">
        <a href="https://www.facebook.com/#!/"
          ><img src="assets/facebook.svg"
        /></a>
      </li>
    </ul>
  </div>
</div>
